html {
	background:  #DDDDDD;
}

#container {
	width: 75%;
	margin: 0 auto;
}

.commentContainer {
	padding: 10px 0px 10px 0px;
	margin:  10px 0px 10px 0px;
	background: white;
	border-radius: 5px;
}

.commentText {
	margin-left: 20px;
}