html {
	background:  #DDDDDD;
}

#container {
	width: 75%;
	margin: 0 auto;
}

.commentContainer {
	padding: 10px 0px 10px 0px;
	margin:  10px 0px 10px 0px;
	background: white;
	border-radius: 5px;
}

.commentText {
	margin-left: 20px;
}

.button-primary {
  background: #3498db;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 20px;
}

.button-primary:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.button-danger {
  background: #c42a2a;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button-danger:hover {
  background: #d63234;
  text-decoration: none;
}

.button-success {
  background: green;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button-success:hover {
  background: #50B948;
  text-decoration: none;
}

.button-create {
  background: #00308F;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button-create:hover {
  background: #0014D7;
  text-decoration: none;
}